@charset "UTF-8";
@import url("fuentes.css");

body {
    font-family: 'Montserrat-light';
    font-size: 1em;
}

#logoTP { 
    width: 30%;
}

.bg-color{ 
 background-color: #3A4559;     
}

#navbarNav{ 
    font-weight: 600; 
    color: #FFFFFF; 
    font-family: "Montserrat-semibold"; 
    font-size: 16px; 
    alignment-adjust: central; 
}

.navbar-nav a{ 
    text-align: center; 
    color: #FFF; 
    font-weight: 100; 
     
}