@font-face {
font-family: Montserrat-bold;
src: url(../fonts/Montserrat-Bold.ttf);
font-weight: 700;
}

@font-face {
font-family: Montserrat-medium;
src: url(../fonts/Montserrat-Medium.ttf);
font-weight: 600;
}

@font-face {
font-family: Montserrat-regular;
src: url(../fonts/Montserrat-Regular.ttf);
font-weight: 600;
}


@font-face {
font-family: Montserrat-light;
src: url(../fonts/Montserrat-Light.ttf);
font-weight: 400;
}

@font-face {
font-family: Montserrat-semibold;
src: url(../fonts/Montserrat-SemiBold.ttf);
font-weight: 400;
}